* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // user-select: none;

    &:focus {
        outline: 0;
        // outline: 2px solid #117243;
    }
}

body {
    background-color: #040404;
    color: #f2f2f2;

    --accent-color: #117243; // #00dc7d #143fb4 #f6b232
    --red-color: #e20338;
    font-family: monospace;

    .root {
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #111;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #111;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: #111;
}
::selection {
    background-color: var(--accent-color);
    color: #ddd;
}
