* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // user-select: none;

    &:focus {
        outline: 0;
        // outline: 2px solid #117243;
    }
}

body {
    background-color: #040404;
    color: #f2f2f2;

    // #1c0700
    // #241309
    // #24170b
    // #2a190f
    // #2c1e14
    // #2e1e14
    // #2f1f15
    // #2f2014
    // #3f3129
    // #e3d4c1
    // #e5d3c3
    // #e6d3c2
    // #e6d4c3
    // #e8d5c4
    // #e8d6c4
    // #e9d8c8
    // #f4e5d6
    --white-color: #f4e5d6;
    --accent-color: #2f2014; // #117243 #00dc7d #143fb4 #f6b232 #3f3129
    --red-color: #e20338;
    font-family: monospace;

    .root {
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        main {
            width: 100%;
            height: 100%;

            .content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .timeline {
                    width: 100%;
                    height: 50%;
                    gap: 1rem;
                    flex-wrap: wrap;
                    display: flex;
                    padding: 2rem;
                    align-items: flex-start;
                    font-size: 22px;

                    span {
                        background: #111;
                    }
                    // background: darkgray;
                }

                .config-input {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    gap: 0.5rem;

                    .config {
                        width: 100%;
                        height: 100%;
                        // background: darkcyan;
                    }

                    .input {
                        width: 100%;
                        height: 100%;
                        padding: 0.5rem;
                        border: 2px solid var(--accent-color);
                        border-radius: 5px;
                        border-right: 0;
                        border-bottom: 0;

                        select {
                            font-size: 22px;
                            background: #111;
                            border: 0;
                            color: #f2f2f2;
                            text-transform: capitalize;
                        }

                        button {
                            border: 2px solid var(--accent-color);
                            border-radius: 5px;
                            background: transparent;
                            color: var(--white-color);
                            padding: 0 1.2rem;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #111;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #111;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: #111;
}
::selection {
    background-color: var(--accent-color);
    color: #ddd;
}
